<div id="continue-form">
  <% if current_user?(user) %>
    <%= render partial: 'continues/continue', locals: { user: user } %>
    <%= link_to '削除', continue_path(user.id), method: :delete %>
  <% end %>
</div>