<div class="top-page">
  <div class="app-title">
    <h1><span>B</span>ook<br class="br-sp"><span>S</span>helf</h1>
    <p>- 自分だけの本棚をつくる。共有する。 -</p>
  </div>
  <div class="signup-button">
    <%= link_to '新規登録', signup_path %>
  </div>
  <div class="test-user-login">
    <%= render 'users/test_user_form' %>
  </div>
</div>